td.value {

    background-image: url(gridline58.gif);

    background-repeat: repeat-x;

    background-position: left top;

    border-left: 1px solid #e5e5e5;

    border-right: 1px solid #e5e5e5;

    padding:0;

    border-bottom: none;

    background-color:transparent;

}

td {

    padding: 4px 6px;

    border-bottom:1px solid #e5e5e5;

    border-left:1px solid #e5e5e5;

    background-color:transparent;

}

tr{

}
body {

    font-family: Verdana, Arial, Helvetica, sans-serif;

    font-size: 80%;

}

td.value img {

    vertical-align: middle;

    margin: 5px 5px 5px 0;

}

th {

    text-align: left;

    vertical-align:top;

}

td.last {

    border-bottom:1px solid #e5e5e5;

}

td.first {

    border-top:1px solid inherit;
    background-color: inherit;
    text-align: right;

}

.auraltext

{

    position: absolute;

    font-size: 0;

    left: -1000px;

}

table {

    background-image:url(bg_fade.png);

    background-repeat:repeat-x;

    background-position:left top;

    width: 33em;

}

caption {

    font-size:90%;

    font-style:italic;

}

